$def with(resultado = 0)
<!DOCTYPE html>
<html lang = "es">
<head>
    <meta charset = "utf.8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <title>Mi IA</title>
</head>
    <body>
        <h1>Mi IA</h1>
        <form method="post">

            <label for="requests" name="requests">Escribe Aqui</label><br>
            <input type="text" name="inp_numero1" id="inp_numero1" value=int><br>

            <label for="response" name="response">Resultado</label><br>
            <input type="text" name="response id="response" value=$resultado><br>

            <button type="button" class="btn btn-outline-info">Info</button>
        </form>

    </body>
</html>