$def with (response = "")
<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <tittle>IA</tittle>
</head>
<body>
    <div class = "form">
        <form method="POST">
            <textarea type="text" name="response" id="response" rows="30" cols="50" readonly>$response</textarea>
            <br>
            <label for="inp_prompt">Escribe aquí</label>
            <br>
            <input type="text" name="inp_prompt" id="inp_prompt" placeholder="inp_prompt" required>
            <br>
            <button type="submit" name="respuesta">Respuesta</button>
        </form>
    </div>
</body>
</html>